
html{
  height: 100%;
}

body {
  background-image: linear-gradient(rgb(0, 238, 255), rgb(0, 68, 255));
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


img{
  width : 60px;
  height : 60px;
}