

html{
  height: 100%;
}

body {
  background-image: linear-gradient(rgb(0, 238, 255), rgb(0, 68, 255));
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


img{
  width : 60px;
  height : 60px;
}



.bouton {
  stroke-dasharray: 15;
  stroke-width: 2;
  stroke-dashoffset: 15;
  animation: dash 5s infinite linear ;
}
@keyframes dash {
from {
  stroke-dashoffset: 0;
}
to {
  stroke-dashoffset: 150;
  
}
}

#degradeA{
  background-image: linear-gradient(rgb(0, 238, 255), rgb(255, 193, 7));
  height: 40px;
}

#degradeB{
  background-image: linear-gradient(rgb(255, 193, 7), rgb(0, 238, 255));
  height: 40px;
}


#instructions{
  opacity: 0;
}

#center{
  height: 50vh;
}

#half_center{
  height: 50vh;
}
#btn1, #btn2{
  width: 156.17px;
}









/*
body {

  font-family: sans-serif;
  font-size: 4vw;

  color: green;
  background-color: rgb(51,124,43);
 
  background-image: url("https://image.freepik.com/vecteurs-libre/illustration-dessin-anime-prairies_24381-270.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;

  margin: 0px;
  padding: 0px;

  height: 100%;
  max-width: 100%;
  max-height: 100%;

  margin: auto;

  margin-top: 10%;
}


img {
  width : 100px;
  height : 100px;


}
#Play{
 
 color : orange;
 font-weight: 800;
 background-color : white;
 border-color : green;
 border-radius : 10px;
 padding: 2% 6%;
 text-align: center;
 margin-right: 8px;
 margin-left: 8px;
}


#Challenge{
  
  color : orange;
  font-weight: 800;
  background-color : white;
  border-color : green;
  border-radius : 10px;
  padding: 2% 6%;
  text-align: center;
 }


 #Score{

  color : orange;
  font-weight: 800;
  background-color : white;
  border-color : green;
  border-radius : 10px;
  padding: 2% 6%;
  text-align: center;
 }

*/