
<template name="sidebar">
	<aside class="sidebar-left"> 
	<img src="https://cdn.pixabay.com/photo/2020/04/02/19/19/mango-4996445_960_720.png" class="icon">
	<a class="company-logo" href="./">Gamango</a>
		<div class="sidebar-links">
			{{#if currentUser}}
			<a class="link-blue" href="/profile" id="profile-link"><i class="fa fa-user"></i>Profil</a>
			<a class="link-yellow" href="/classement" id="classement-link"><i class="fa fa-trophy"></i>Classement</a>
			<a class="link-red" href="/PLAY" id="difficulté-link"><i class="fa fa-bars"></i>Difficulté</a>
			<a class="link-green" href="/PLAY" id="map-link"><i class="fa fa-map"></i>Map</a>
			
            {{else}}
			{{/if}}
			{{#if currentUser}}
			<a class="link-purple logout" href="#" id="logout-link"><i class="fa fa-sign-out"></i>Logout</a>
			{{else}}
			<a class="" href="./login" id="login-link"><i class="fa fa-sign-in"></i>Login</a>
			{{/if}}
		</div>
	</aside>
</template>

