
<template name="sidebar">
	<aside class="sidebar-left"> 
	<img src="https://cdn.pixabay.com/photo/2020/04/02/19/19/mango-4996445_960_720.png" class="icon">
	<a class="company-logo" href="./">Gamango</a>
		<div class="sidebar-links">
			{{#if currentUser}}
			<a class="link-blue" href="/profile" id="profile-link"><i class="fa fa-user"></i>Profil</a>
			<a class="link-yellow" href="/classement" id="classement-link"><i class="fa fa-trophy"></i>Classement</a>
			<a class="link-red dropdown btn-lg btn-success dropdown-toggle" data-toggle="dropdown" type="button" id="difficulté-link">
				
				<div class="dropdown">
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					  <a class="dropdown-item" id="beginner">Beginner</a>
					  <a class="dropdown-item" id="intermediate">Intermediate</a>
					  <a class="dropdown-item" id="hard">Hard</a>
					</div>
				  </div>
				  
				<i class="fa fa-bars"></i>{{difficulty_level}}</a>
			<a class="link-green" href="/PLAY" id="map-link"><i class="fa fa-map"></i>Carte</a>
			
            {{else}}
			{{/if}}
			{{#if currentUser}}
			<a class="link-purple logout" href="#" id="logout-link"><i class="fa fa-sign-out"></i>Se déconnecter</a>
			{{else}}
			<a class="" href="./login" id="login-link"><i class="fa fa-sign-in"></i>Se connecter</a>
			{{/if}}
		</div>
	</aside>
</template>

