<<<<<<< HEAD
/*
button{
=======
/*
button{
>>>>>>> fd99262f4679634d0b023f9d94d59e6468608185
  height: 70px;
  width: 70px;
  border-radius: 100px;
  border: 1px solid black;
}*/

/*li{
  color:rgb(215,0,32);
<<<<<<< HEAD
}
*/
=======
}
*/
>>>>>>> fd99262f4679634d0b023f9d94d59e6468608185
