

<template name="score">
  


      

      <div class="jumbotron bg-warning">
        <div class="container text-center bg-warning text-dark">
          <style>
           /* Remove the jumbotron's default height */ 
          .jumbotron {
           height: 5px;
          }
          </style>
               <div class="row">
                  <div class="col-6 bg-warning py-auto">
                    <b id="Total">Score : {{total_score}}</b>
                  </div>
                 <div class="col-6 bg-warning">
                    <b id="total_temps">00:00:00</b>
                  </div>
          </div>      
       </div>

     </div>


  
    <div class="container-fluid">
         {{> Template.dynamic template=main}}
    </div>

 
</template>