<template name="Home">
  <div class="contenu">
    <div class="row align-items-center" id="half_center">
     <div class="col-lg text-center align-self-center" id="welcome">
       <h1 id="Bienvenue">Bienvenue dans l'univers <span class="orange">GAMANGO</span></h1>
     </div>
    </div>
    {{#if currentUser}}
  <div class="container">
    <div class="row align-items-center">
      <p id="Consignes">
        <ol>
          <li>Pour commencer à jouer, choisissez un degré de <span class="orange">difficulté</span>. (Nous vous recommandons de commencer par le niveau "Beginner").</li>
          <li>Voilà, vous pouvez commencer le premier niveau de la carte en appuyant sur le bouton "Carte".<br>
            Là, nous avons séléctionné des <span class="orange">exercices</span> pour vous en fonction du niveau choisi. <br>
            N'hésitez pas à changer de difficulté pour tester vos limites et vous surpassez.<br>
          </li>
          <li>Ensuite, consultez vos <span class="orange">score</span> dans la section <span class="orange">"Profil"</span> 
            et comparez les avec les autres utilisateurs dans la section <span class="orange">"Classement"</span>.
          </li>
        </ol>
        <br>        
      </p>
    </div>

    
      <p id="Salutations">
        Bien du plaisir dans cette nouvelle aventure <span class="orange">colorée</span> !!
        <br>
        L'équipe <span class="orange">Gamango</span>.</p>
      
    </div>
    {{else}}
   <div class="row" id="center">
     <div class="col-lg text-center" id="home">
         
         <button type="button" class="btn-lg btn-success" id="btn3">Se connecter</button>
         <button type="button" class="btn-lg btn-success" id="btn4">Créer un compte</button>
         
       </div>
   </div>
   {{/if}}
  </div>
  </template>