<template name="Home">
  <div class="contenu">
    <div class="row align-items-center" id="half_center">
     <div class="col-lg text-center align-self-center" id="welcome">
       <h1>Welcome to GAMANGO</h1>
     </div>
   </div>
   <div class="row" id="center">
     <div class="col-lg text-center" id="home">
       <div class="btn-group-vertical"></div>
       {{#if currentUser}}
  
          <button type="button" class="btn-lg btn-success" id="btn1">CLASSEMENT</button>
          <button type="button" class="btn-lg btn-success" id="btn2">JOUER</button>
          <div class="dropdown">
          <button class="btn-lg btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
            {{difficulty_level}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" id="beginner">Beginner</a>
            <a class="dropdown-item" id="intermediate">Intermediate</a>
            <a class="dropdown-item" id="hard">Hard</a>
          </div>
        </div>
         {{else}}
         <button type="button" class="btn-lg btn-success" id="btn3">Se connecter</button>
         <button type="button" class="btn-lg btn-success" id="btn4">Créer un compte</button>
         {{/if}}
       </div>
   </div>
  </div>
  </template>