#center{
  height: 50vh;
}

#half_center{
  height: 50vh;
}
#btn1, #btn2 {
  width: 156.17px;
}

#Bienvenue{
  font-size: 55px;
}

#Consignes{
  font-size: 20px;
}

#Salutations{
  font-size: 20px;
  text-align: right;
}

.orange{
  color: orange;
}