<template name="classement">
  <div class="contenu">
      <div class="jumbotron jumbotron-fluid mb-0" id="jumbo">
          <div class="container">
              <h1 class="display-4 text-info">{{current_user}}     <small class="text-primary float-right">score: {{user_score}}</small></h1>
              <br>
              <hr class="my-4 text-warning">
              <p class="lead">C L A S S E M E N T </p>
              <hr class="my-4">
              <br>
              <br>

          
                <div class="row align-items-center">
                     <div class="col-2 text-center align-self-center">
                         <h4><small class="text-secondary">RANG : </small></h4>
                    </div>
                     <div class="col-6 text-center align-self-center">
                         <h4><small class="text-secondary">USERNAME : </small></h4>
                    </div>
                     <div class="col-4 text-center align-self-center">
                         <h4><small class="text-secondary">SCORE : </small></h4>
                    </div>
                 </div>
              
                <div class="row align-items-center">
                    {{#each users}}
                    <div class="col-2 text-center align-self-center">
                        <button type="button" class="btn btn-secondary btn-success popover_classement" data-container="body"  data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                            <span class="text-dark font-weight-bold">{{this.rang}}</span>
                        </button>
                    </div>
                    <div class="col-6 text-center align-self-center">
                        <button type="button" class="btn btn-secondary popover_classement" data-container="body" data-html="true" data-toggle="popover" data-placement="right" data-content="<ul>{{#each controle}}<li>{{this}}</li>{{/each}}</ul>">
                            <small class="text-info username">{{this.utilisateur}}</small>
                        </button>
                    </div>
                    <div class="col-4 text-center align-self-center">
                        <button type="button" class="btn btn-secondary btn-warning popover_classement" data-container="body" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                            <span class="text-dark font-weight-bold">{{this.score}}</span>
                        </button>
                    </div> 
                    {{/each}}
                </div>

            </div>
        </div>
    </div>
</template>
